@import '../styles/mixins';

.featuresSection {
  margin-top: -80px;
  margin-bottom: 2rem;
  position: relative;
  z-index: 10;

  @media screen and (min-width: 1200px) {
    margin-top: -100px;
    margin-bottom: 3rem;
  }

  .feature-item {
    transition: all 0.3s ease;
  }
}

// Keyframes animations
